@charset "UTF-8";
a {
  color: black;
  font-size: 15px;
}

.body1 {
  background-color: #DBFFFF;
}

.main {
  background-color: #DBFFFF;
  width: 100%;
  min-height: 80vh;
}

.header {
  background-color: #7effff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.logo {
  width: 70px;
  height: 70px;
}

.menu__pags--oculto {
  display: none;
}

.header__icono {
  font-size: 30px;
  text-decoration: none;
  display: none;
}

.menu__items {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-bottom: 0;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.menu__pags {
  margin-right: 16px;
  color: black;
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  font-size: x-large;
}

.menu__pags--1 {
  color: black;
}

.footer {
  background-color: #DBFFFF;
  font-family: "Dancing Script", cursive;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-right: 10px;
}

.contacto {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  border-top: 3px solid black;
  padding: 10px;
  gap: 1rem;
}

.titulo, .titulo2 {
  margin-top: 160px;
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  margin-bottom: 3rem;
  font-weight: 900;
  line-height: 0;
}

.titulo2 {
  -webkit-animation-name: efecto;
          animation-name: efecto;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  margin-bottom: 3rem;
  font-weight: 900;
  line-height: 0;
  margin-top: 80px;
}

.inicio {
  color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inicio .inicio__izquierda {
  width: 100%;
  padding: 2rem;
}
.inicio .inicio__derecha {
  width: 100%;
}
.inicio .img-fluid {
  max-width: 90%;
  border: 2px solid lightgrey;
  border-radius: 12px;
  box-shadow: 4px 4px 10px gray;
  margin-bottom: 20px;
}

.h2 {
  margin: 16px;
  font-family: "Dancing Script", cursive;
  text-decoration: underline;
}

.titulo, .titulo2 {
  font-family: "Dancing Script", cursive;
  font-size: 45px;
  text-decoration: underline;
  text-align: center;
}

.formulario, .formulario1 {
  margin: 16px;
  display: flex;
}

.formulario1 {
  width: 100%;
}

.casilla {
  display: block;
  margin: 12px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.casilla1 {
  display: block;
  width: 100%;
  margin: 12px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.parrafo {
  margin: 16px;
  font-family: "Caveat", cursive;
  font-size: x-large;
}

.btn-light {
  margin: 1rem;
}

/*Viajes*/
.viajes__section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.españa {
  background-color: lightcyan;
  width: 25%;
  height: 580px;
  padding: 12px;
  margin: 32px;
  border: 2px solid lightgrey;
  border-radius: 12px;
  box-shadow: 4px 4px 10px gray;
}

.españa__imagen {
  border-radius: 12px;
  width: 100%;
}

.españa__titulo {
  font-family: "Dancing Script", cursive;
  text-align: center;
}

.españa__parrafo {
  font-family: "Caveat", cursive;
}

.thailandia {
  background-color: lightcyan;
  width: 25%;
  height: 580px;
  padding: 12px;
  margin: 32px;
  border: 2px solid lightgrey;
  border-radius: 12px;
  box-shadow: 4px 4px 10px gray;
}

.thailandia__img {
  border-radius: 12px;
  width: 100%;
}

.thailandia__titulo {
  font-family: "Dancing Script", cursive;
}

.thailandia__parrafo {
  font-family: "Caveat", cursive;
}

.venecia {
  background-color: lightcyan;
  width: 25%;
  height: 580px;
  padding: 12px;
  margin: 32px;
  border: 2px solid lightgrey;
  border-radius: 12px;
  box-shadow: 4px 4px 10px gray;
}

.venecia__titulo {
  font-family: "Dancing Script", cursive;
}

.venecia__img {
  border-radius: 12px;
  width: 100%;
}

.venecia__parrafo {
  font-family: "Caveat", cursive;
}

.francia {
  background-color: lightcyan;
  width: 25%;
  height: 550px;
  padding: 12px;
  margin: 32px;
  border: 2px solid lightgrey;
  border-radius: 12px;
  box-shadow: 4px 4px 10px gray;
}

.francia__img {
  border-radius: 12px;
  width: 100%;
}

.francia__titulo {
  font-family: "Dancing Script", cursive;
}

.francia__parrafo {
  font-family: "Caveat", cursive;
}

@-webkit-keyframes efecto {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes efecto {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
/* Tablet */
/* movil */
@media screen and (max-width: 599px) {
  .menu {
    display: none;
    background-color: black;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
  }
  .menu__items {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    gap: 1rem;
  }
  .titulo, .titulo2 {
    flex-direction: column;
    font-size: 25px;
  }
  .header__icono {
    display: block;
    margin-right: 20px;
  }
  .menu:target {
    display: block;
  }
  .menu__pags--oculto {
    display: block;
  }
  .menu__pags {
    margin-right: 16px;
    color: white;
  }
  .inicio {
    flex-direction: column;
    margin: 10px;
  }
  .inicio .inicio__izquierda {
    width: 100%;
    padding: 0;
    justify-content: center;
  }
  .inicio .inicio__derecha {
    width: 100%;
  }
  .inicio .inicio__img {
    width: 400px;
    height: 400px;
  }
  .viajes__section {
    flex-direction: column;
  }
  .españa {
    width: 80%;
    height: 100%;
  }
  .venecia {
    width: 80%;
    height: 100%;
  }
  .thailandia {
    width: 80%;
    height: 100%;
  }
  .francia {
    width: 80%;
    height: 100%;
  }
}/*# sourceMappingURL=main.css.map */