.footer{
    background-color: #BEEFFF;
    font-family: 'Dancing Script', cursive;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-right: 10px;
    margin-top: 2rem;
    
    
 }

.footer__contactos{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    padding: 10px;
    gap: 1rem;
    border-top: 3px solid black;
}
.footer__contactos--1{
    border-top: none;
}
    
